.coffeeHead{
    text-align: center;
    font-weight: bolder;
    font-size: xxx-large;
    color: darkgreen;
}
body {
    background-color: gold;
}

.roast-container {
    display: flex;
    justify-content: flex-end;
}

.coffee-container {
    display: flex;
    justify-content: flex-end;
}

.add-a-coffee {
    display: flex;
    justify-content: flex-end;
    color: black;
}

p {
    text-decoration: black;
    font-weight: bold;
    font-size: 25px;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

/*@media screen and (max-width:769px){*/
/*    #image {*/
/*        display: none;*/
/*    }*/
/*}*/
 .btn {
        background-color: #ff9900; /* Set the background color */
        color: white; /* Set the text color */
        padding: 8px 16px; /* Add padding to the button */
        border: none; /* Remove the border */
        border-radius: 4px; /* Add some border radius for rounded corners */
        cursor: pointer; /* Add a pointer cursor on hover */
    }

    .btn:hover {
        background-color: #ff6600; /* Change background color on hover */
    }

    a.nav-link{
        color: gold;
    }
#coffeeBags{
    max-height: 200px;
    width:400px;
}